/***** GENERAL STYLING *****/
/* Body */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .1vw;
    font-family: 'Jost';
    font-size: 1vw;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; 
    font-family: 'Jost'; 
    text-align: center; 
    margin-top: 3%; 
    color: #1a1a1a; 
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%); 
    transform: scale(1.1); 
    transition: transform 1s; 
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; 
}

/* Heading 2 elements */
h2 {
    font-family: 'Jost';
    font-weight: 400;
    text-align: justify; 
    letter-spacing: 0.05vw; 
    font-size: 1.4vw;
    padding-left: 1vw; 
    padding-right: 1vw; 
}

/* Heading 4 elements */
h4 {
    font-family: 'Jost';
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5vw;
    font-size: 4vw;
    padding-bottom: 0;    
}

/* Paragraph elements */
p {
    font-family: 'Jost';
    font-weight: 200;
    text-align: justify; 
    letter-spacing: 0.1vw; 
    font-size: 1.2vw;
    padding-left: 1vw;
    padding-right: 1vw; 
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s; 
	transform: scale(1.01);
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center;
}

.right-title {
    text-align: right;
    padding-right: 15%;
}

.left-title {
    text-align: left;
    padding-left: 15%;
}

/* Center class hover effect */
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* Anchor elements */
a {
    color: blue;
    cursor: pointer;
}

/* Quotation elements */
q {
    font-style: italic;
}

/* Image elements */
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto auto auto;
}

/* Image element hover effects */
img:hover {
	filter: grayscale(50%);
    transition: transform 0.5s;
	transform: scale(1.02);
}
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column 
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}*/

/* Styling for footer element */
footer {
    padding: 2%;
    background-color: white;
}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    background-color: #334658;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 2s;
    animation: moveNav 2s;
}

/* moveNav animation  */
@keyframes moveNav {
    from {top: -10vw;} 
    to {top: 0vw;} 
}

/* Navbar links */
.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 0.75vw 1vw;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 1.35vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 2.75s;
    animation: moveNavText 2.75s;
}

/* moveNavText animation effect to the navbar */
@keyframes moveNavText {
    from {top: -10vw;} 
    to {top: 0vw;}
}

/* Screens 576px and smaller will display navbar links equally distributed 
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
} */

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease-in;
}

/* Navbar home button */
.Navbar a.active { 
    background-color: #616976;
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
/*Old formatting
#Typing_Video {
    position: fixed;
    right: 0; 
    top: -20vw; 
    min-width: 100%;
    z-index: -1;
    filter: grayscale(100%);
} */
#Banner_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    filter: grayscale(100%);
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Banner_Video {
        display: none;
        height: 0;
        background: black;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.35); 
    color: white; 
    width: 100%;
    height: 100vh;
    padding-top: 1.8vh;
    position: relative;
    -webkit-animation: moveVideoText 3.75s;
    animation: moveVideoText 3.75s;
}

/* This animation overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}

@media screen and (max-width: 576px) {
    .Video_Text {
        background: black;
        height: 34vh;
    }
}
/***** END OF VIDEO STYLING *****/

/***** Slideshow Styling ******/
#Slidshow_Background {
    background: rgba(255, 255, 255, 0.35);
}

@media screen and (max-width: 576px) {
    #Slideshow_Background {
        background: black;
    }
}

/* .mySlides {
    display: none;
} */

/*Slideshow section container*/
#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/*remove the underline from the previous and next buttons on the slideshow*/
#Slideshow_Container a {
    text-decoration: none;
}

/*Images contained within the slideshow*/
.Slideshow_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(51,70,88,.75);
    width: 100%;
    margin-bottom: 2vw;
}

/*Next and previous buttons*/
.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.25s ease;
}

/*Positioning the next button on the right hand side*/
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Hover effect on slide show */
.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/*Slideshow text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Jost';
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(51, 70, 88, 0.75);
    font-weight: 200;
    border-radius: 0px 0px 7px 7px;
}

/*Styling of the dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0.25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/*Hover effect for slideshow dots*/
.active, .dot:hover {
    background-color: black;
}

/*Fading animation for slideshow*/
.fade {
    animation-name: fade;
    animation-duration: 1s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

/*End Slideshow styling*/

/***** TABLE STYLING *****/
* { 
    box-sizing: border-box; 
} 

.Column_1 {
    float: left;
    width: 50%; 
    padding: 1.6%;
    padding-top: 1%; 
    height: 400px; 
    background-color: #f2f2f2; 
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height 
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
} */

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    padding-top: 1.9%;
    height: 400px;
    background-color: #616976;
}

/* This class is applied to the columns in the final row */
.Column_tall_1 {
    padding-top: 4%;
    height: 475px;
}
/* This class is applied to the columns in the final row */
.Column_tall_2 {
    padding-top: 1%;
    height: 475px;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
	content: ""; 
	display: table;
	clear: both; 
}
/***** END OF TABLE STYLING *****/

/***** OLD CONTACT FORM STYLING 

input[type=text] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    font-family: 'Jost', sans-serif;
}

/* Hover effects for input boxes 
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset; 
}

/* Submit button 
input[type=submit] {
    background-color: black; 
    color: white; 
    font-weight: bold; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Jost', sans-serif;
}

/* Hover effect for submit button 
input[type=submit]:hover {
    background-color: white; 
    color: black; 
    transform: scale(1.05); 
    transition: transform 1s; 
}

/* Form element 
form {
    border-radius: 5px; 
    background-color: #f2f2f2; 
    padding: 10px; 
    font-family: "Trebuchet MS", Optima;
}
/***** END OF CONTACT FORM STYLING *****/

/*** NEW CONTACT FORM POP UP STYLING ***/
/*Button used to open contact form fixed at the bottom of the page*/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 20vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

/*move pop up botton onto screen from the bottom*/
@keyframes movePopup {
    from {bottom: -40vw;}
    to {bottom: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {bottom: -40vw;}
    to {bottom: 1.75vw;}
}

/*styling for conact form */
.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 0.5vw;
    right: 0.5vw;
}

/*form styling */
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}

/*input fields*/
.form-container input[type=text] {
    width: 100%;
    padding: 0.93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-size: 1vw;
}

/*general styling for all buttons*/
button {
    font-family: 'Jost';
    letter-spacing: 0.3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/*hover effect for the contact and submit buttons*/
button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: white;
}

/*submit button*/
.form-container .btn {
    background: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;
}

/*close button*/
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/*close button on hover*/
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    border-color: black;
}

/**** End of Contact Form Styling ****/

/***Media Query Section ***/
@media screen and (max-width: 527px) {
    p {
        font-size: 2.8vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.2vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 1.7vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 1.4vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.2vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.1vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1vw;
    }
}

@media screen and (max-width: 527px) {
    h2 {
        font-size: 2.3vw;
    }
}

@media screen and (min-width: 576px) and (max-width: 660px) {
    h2 {
        font-size: 2.7vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    h2 {
        font-size: 2.4vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    h2 {
        font-size: 2vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    h2 {
        font-size: 1.9vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    h2 {
        font-size: 1.6vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    h2 {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    h2 {
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 2270px) {
    h2 {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1080px) {
    .white-text {
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}

@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}